<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderItem">
<select id="queryByPage" parameterType="map" resultType="OrderItem">
	SELECT * from orderItem where id LIMIT #{start},#{pageSize}
</select>
<select id="quertAll" resultType="OrderItem">
	select * from OrderItem order by id desc
</select>
<select id="getSaleByPid" resultType="String">
	SELECT SUM(oid)*SUM(number) su FROM ( SELECT oi.* FROM orderitem oi ,order_ o where o.uid=oi.uid AND o.`status`='finish' and oi.pid= #{pid})s
</select>
<select id="queryAllByUid" resultType="OrderItem">
	SELECT * from orderitem oi,(select * from order_ o WHERE o.uid = #{uid} and o.payDate is NULL) o,product p where oi.oid = o.id and p.id = oi.pid</select>
</mapper>