<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductImage">
<select id="queryByPage" parameterType="map" resultType="ProductImage">
	SELECT * from ProductImage where id LIMIT #{start},#{pageSize}
</select>

<select id="getScondImage" parameterType="map" resultType="int">
select MAX(pimage) pi FROM (select pi.id pimage from product p ,productimage pi where p.id=pi.pid and p.cid=#{cid} and p.id=#{pid} and pi.type='type_single' and pi.id LIMIT 0,5)pimage
</select>
<select id="quertAll" resultType="ProductImage">
	select * from ProductImage order by id desc
</select>
<select id="queryMaxByPid" resultType="ProductImage">
	select * FROM productimage where id =(SELECT MAX(id) FROM productimage where pid = #{pid} AND type='type_single' )
</select>
	<!-- 查找操作 -->
<!-- <select id="queryAllPic" parameterType="map" resultType="int">
	select max(pi.id) from product p ,productimage pi where p.id=pi.pid and
	p.cid=#{cid} and p.id=#{id} and pi.type='type_single'
</select> -->
</mapper>