<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="propertyvalue">
<select id="queryByPage" parameterType="map" resultType="propertyvalue">
	SELECT * from propertyvalue where id LIMIT #{start},#{pageSize}
</select>
</mapper>