<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Property">
<insert id="add" parameterType="Property">
	insert INTO property (cid,name) VALUES (#{cid},#{name}) 
	<selectKey resultType="int" keyProperty="id" order="AFTER">
		select last_insert_id() as id
	</selectKey>
</insert>
<delete id="deleteById">
	delete from Property where id = #{id}
</delete>
<update id="update" parameterType="Property">
	update Property
	<trim prefix="set" suffixOverrides=",">
		<if test="name!=null and name!=''">
			name = #{name},
		</if>
		<if test="cid!=null and cid!=''">
			cid = #{cid},
		</if>
	</trim>
	where id = #{id}
</update>
<select id="queryByPage" parameterType="map" resultType="Property">
	SELECT * from Property where id LIMIT #{start},#{pageSize}
</select>
<select id="queryByCidPage" parameterType="map" resultType="Property">
	SELECT * from Property where cid = #{cid} AND id LIMIT #{start},#{pageSize}
</select>
<select id="getByCidTotals" resultType="int">
	select count(*) from property where cid = #{cid}
</select>
<select id="queryById" resultType="Property">
	SELECT * from property WHERE id= #{id}
</select>
<select id="quertAll" resultType="Property">
	select * from Property order by id desc
</select>
</mapper>