<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Review">
<select id="queryByPage" parameterType="map" resultType="Review">
	SELECT * from Review where id LIMIT #{start},#{pageSize}
</select>
<select id="quertAll" resultType="Review">
	select * from Review order by id desc
</select>
<select id="getTotalsByPid" resultType="int">
	SELECT COUNT(id) FROM review where pid = #{pid}
</select>
<select id="getReviewsByPid" resultType="Review">
	 select r.*,u.`name` FROM review r,`user` u where r.uid=u.id AND r.pid=#{pid}
</select>
</mapper>